[submodule "PAD-UserManagementService"]
	path = PAD-UserManagementService
	url = https://github.com/Greshnickl/PAD-UserManagementService
[submodule "PAD-GhostAIService"]
	path = PAD-GhostAIService
	url = https://github.com/Greshnickl/PAD-GhostAIService
[submodule "PAD-ShopService"]
	path = PAD-ShopService
	url = https://github.com/Greshnickl/PAD-ShopService
[submodule "PAD-JournalService"]
	path = PAD-JournalService
	url = https://github.com/Greshnickl/PAD-JournalService
