[submodule "PAD-UserManagementService"]
  path = PAD-UserManagementService
  url = https://github.com/Greshnickl/PAD-UserManagementService
[submodule "PAD-GhostAIService"]
  path = PAD-GhostAIService
  url = https://github.com/Greshnickl/PAD-GhostAIService
[submodule "PAD-Journal-Service"]
	path = PAD-Journal-Service
	url = https://github.com/s1nss/PAD-Journal-Service.git
[submodule "PAD-Shop-Service"]
	path = PAD-Shop-Service
	url = https://github.com/s1nss/PAD-Shop-Service.git
[submodule "PAD-GhostService"]
	path = PAD-GhostService
	url = https://github.com/selavii/PAD-GhostService.git
[submodule "PAD-LobbyService"]
	path = PAD-LobbyService
	url = https://github.com/ovidiu123/PAD-LobbyService
[submodule "PAD-MapService"]
	path = PAD-MapService
	url = https://github.com/ovidiu123/PAD-MapService